:root {
  --pink-color: #f1356d;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey; */
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--pink-color);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #000000;
}

body {
  display: flex;
  justify-content: center;
  align-content: center;
}

.pink-color {
  color: var(--pink-color);
}

#add-body,
#each-body,
#added-content,
#edit-body {
  display: none;
}

.wrapper {
  width: 753px;
  margin: 58px;
  padding-left: 5vw;
  padding-right: 5vw;
  font-family: "Courier New", Courier, monospace;
  color: #333;
  box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;
  height: 80vh;
  border-radius: 10px;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.app-header {
  margin-top: 38px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  border-bottom: 0.5px solid #5c5c5c4e;
}

a {
  text-decoration: none;
  color: #333;
  margin-right: 10px;
}

button {
  background-color: var(--pink-color);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  height: 20px;
  font-family: inherit;
  cursor: pointer;
}

.nav-button {
  background-color: var(--pink-color);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  height: 20px;
  font-family: inherit;
  cursor: pointer;
  padding: 3px;
}

.app-body {
  display: block;
  align-items: center;
  justify-content: center;
  padding-left: 2rem;
  padding-right: 2rem;
  height: 60vh;
}

h4 {
  font-weight: 600;
}

ul {
  list-style: none;
  padding-left: 10px;
}

.title {
  font-weight: 600;
  margin-bottom: 2px;
  cursor: pointer;
}

.author {
  margin-top: 2px;
}

.app-body-add,
.app-body-edit {
  text-align: center;
}

.form-items {
  text-align: left;
  padding-left: 10vw;
  padding-right: 10vw;
  margin-bottom: 5vh;
}

.input-items {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 1vh;
  margin-top: 1vh;
  border: 1px solid #8080805a;
}

.input-select {
  color: #333;
}

.each-blog {
  line-height: 1.5;
}

.each-blog h4 {
  margin-bottom: 5px;
}

#body-error,
#title-error {
  color: #ff0000;
}

#blogs-list {
  height: 80%;
  overflow: scroll;
}

#each-blog-body {
  height: 40vh;
  overflow: scroll;
}
